Clinkart_training_data/
TESTLINK_ES_training_data_v1.1/
TESTLINK_EU_training_data/
data_it/
data_es/
data_eu/
poetry.lock/
wandb/
poetry.lock
outputs_it/
outputs_es/
outputs_eu/
models_it/
models_es/
models_eu/
cache_dir/
runs/
__pycache__/