Clinkart_training_data/
TESTLINK_ES_training_data_v1.1/
TESTLINK_EU_training_data/
data_it/
data_es/
data_eu/
data_multilingual/
poetry.lock/
wandb/
poetry.lock
outputs_it/
outputs_es/
outputs_eu/
outputs_multilingual/
models_it/
models_es/
models_eu/
models_multilingual/
results_it/
results_es/
results_eu/
results_multilingual/
TEST_IT/
TEST_ES/
TEST_EU/
cache_dir/
runs/
BC5CDR_Evaluation-0.0.3/
__pycache__/